{% extends "base.html" %}
{% block content %}
    <div>
        <div class="about">
            <h1>714 Уличная мода для молодежи</h1>
            <div class="about_content">
                <div class="about_content_img">
                    <img src="{{ url_for('static', filename='images//image_1.jpg') }}" alt="">
                </div>
                <div class="about_content_desc">
                    <h2>Почему появился 714 street?</h2>
                    <p>Уличная мода - это свобода выражения собственного стиля прямо на улицах города. Люди, следящие за последними модными тенденциями, не ждут показов модных домов, а сами создают тенденции своими яркими образами. Появившаяся в первой половине XX века в Англии уличная мода изначально ассоциировалась со стилем молодежи, но сегодня все больше влияет на взрослые поколения. Уличный стиль подразумевает смелые эксперименты с цветами, текстурами и деталями. Это стиль, в котором каждый может найти что-то для себя и создать уникальный образ.</p>
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_desc">
                    <h2>Стильно и соответствует современным запросам</h2>
                    <p>714 street не знает границ и правил, мы живем в своей собственной реальности, где каждый может быть тем, кем захочет. Минималистичный, утонченный, уличная классика, но при этом современный и не утративший актуальность.</p>
                </div>
                <div class="about_content_img">
                    <img src="{{ url_for('static', filename='images//image_2.jpg') }}" alt="">
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_img">
                   <img src="{{ url_for('static', filename='images//image_3.jpg') }}" alt="">
                </div>
                <div class="about_content_desc">
                    <h2>Удовлетворим самого изысканного покупателя</h2>
                    <p>Руководствуясь критериями уличного стиля, индивидуальности и минимализма, мы предлагаем качественный продукт, который подойдет абсолютно всем. 714 street – это философия жизни, основанная на простоте и отсутствии излишеств.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}