{% extends "base.html" %}
{% block content %}
    <div>
        <div class="catalog">
            <div class="catalog__filter">
                <div class="catalog__filter__close" id="catalog_filter_button_close">
                    <i class="bx bx-left-arrow-alt"></i>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                        <div class="catalog__filter__widget">
                            <div class="catalog__filter__widget__title">Категории</div>
                            <div class="catalog__filter__widget__content">
                                {% for choice_index in range(form.categories.choices|length) %}
                                    <div class="catalog__filter__widget__content__item">
                                        <label class="custom-checkbox">
                                            <input {% if form.categories.choices[choice_index][0] in form.categories.default %} checked {% endif %} name="categories" type="checkbox" value="{{form.categories.choices[choice_index][0]}}">
                                            <span class="custom-checkbox__label">{{form.categories.choices[choice_index][1]}}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="catalog__filter__widget">
                            <div class="catalog__filter__widget__title">Цвета</div>
                            <div class="catalog__filter__widget__content">
                                {% for choice_index in range(form.colors.choices|length) %}
                                    <div class="catalog__filter__widget__content__item">
                                        <label class="custom-checkbox">
                                            <input {% if form.colors.choices[choice_index][0] in form.colors.default %} checked {% endif %} name="colors" type="checkbox" value="{{form.colors.choices[choice_index][0]}}">
                                            <span class="custom-checkbox__label">{{form.colors.choices[choice_index][1]}}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="catalog__filter__widget">
                            <div class="catalog__filter__widget__title">Размеры</div>
                            <div class="catalog__filter__widget__content">
                                {% for choice_index in range(form.sizes.choices|length) %}
                                    <div class="catalog__filter__widget__content__item">
                                        <label class="custom-checkbox">
                                            <input {% if form.sizes.choices[choice_index][0] in form.sizes.default %} checked {% endif %} name="sizes" type="checkbox" value="{{form.sizes.choices[choice_index][0]}}">
                                            <span class="custom-checkbox__label">{{form.sizes.choices[choice_index][1]}}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    <div class="catalog__filter__widget">
                        <div class="catalog__filter__widget__content">
                            {{ form.submit(class="add_filters_submit") }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="catalog__filter__toggle">
                <button class="btn bg-main btn-sm " id="catalog_filter_button">
                    <span class="btn__txt"> Фильтры</span>
                </button>
            </div>
            <div class="catalog__content">
                <div>
                    {% if products %}
                        <div class="grid grid-col-4 grid-col-md-2 grid-col-sm-2" style="gap: 20px;">
                            {% for product in products %}
                              <div class="product-card">
                                  <a href="{{ url_for('main.product', product_id=product.id) }}">
                                      <div class="product-card__image">
                                          <img src="{{ url_for('static',filename='photos/'+product.main_photo) }}"  alt="">
                                      </div>
                                  </a>
                                  <a href="{{ url_for('main.product', product_id=product.id) }}">
                                      <h3 class="product-card__name">{{ product.name }}</h3>
                                      <div class="product-card__price">
                                          {{ product.price }}
                                          {% if product.old_price %}
                                             <span class="product-card__price__old">
                                                  <del>{{ product.old_price }}</del>
                                              </span>
                                          {% endif %}
                                      </div>
                                  </a>
                                  <div class="product-card__btn">
                                      <button class="btn bg-main btn-sm">
                                          <a href="{{ url_for('main.product', product_id=product.id) }}" class="btn__txt"> Выбрать</a>
                                      </button>
                                  </div>
                              </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h1>Подходящих товаров не найдено</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const btn4 = document.getElementById('catalog_filter_button');
        const btn5 = document.getElementById('catalog_filter_button_close');
        if (btn4) {
			  	btn4.addEventListener('click', () => {
					document.querySelector('.catalog__filter').classList.add('active');
			    });
		    }
		if (btn5) {
			  	btn5.addEventListener('click', () => {
					document.querySelector('.catalog__filter').classList.remove('active');
			  });
			}
    </script>
{% endblock %}