{% extends "base.html" %}
{% block content %}
    <div>
      <div class="contact">
        <div class="contact_content">
          <div class="contact__content__item">
            <h1>Контакты</h1>
            <div class="grid grid-col-2 grid-col-md-2 grid-col-sm-1" style="gap: 20px;">
              <div class="contact__content__item__item">
                <h2>Служба поддержки клиентов</h2>
                <span>+7(985) 738-38-27</span>
                <p>с 8.00 до 22.00 ежедневно без выходных</p>
                <hr>
              </div>
              <div class="contact__content__item__item">
                <span>Email: 714streetdesign@gmail.com</span>
                <a href="https://yandex.ru/maps/213/moscow/house/prospekt_mira_95s1/Z04YcARlQEQBQFtvfXRxeXxhZg==/?ll=37.635916%2C55.808022&z=17.14">
                  <p>Адрес: г. Москва, Проспект Мира, 95, с. 1</p>
                </a>
                <hr>
              </div>
              <div class="contact__content__item__item">
                <h2>Обслуживание клиентов</h2>
                <span>+7(905) 509-50-74</span>
                <p>с 8.00 до 22.00 ежедневно без выходных</p>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}