<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
  {% for product in products %}
    <p>Название {{ product[3] }} </p>
    <p>Цвет {{ product[4] }} </p>
    <p>Размер {{ product[5] }} </p>
    <p>Количество {{ product[8] }} </p>
    <p>Цена {{ product[6] }} </p>
    <br />
  {% endfor %}
  <p>Итого {{ total }}</p>
  <br />
  <p>Контакты</p>
  <p>Имя {{ name }}</p>
  <p>Номер {{ number }}</p>
  <p>Email {{ email }}</p>
  <p>Комментарий к заказу {{ comment }}</p>
</body>
</html>